/build/
/src/BasicArithmetic/build/
/src/BasicArithmetic/nbproject/private/
/src/Act6_OOP_BasicArithmetic/build/
/src/Act6_OOP_BasicArithmetic/nbproject/private/
/src/Laboratory Exercise no.2/nbproject/private/
/src/Act10_OOP_Laboratory Exercise no.2/nbproject/private/
/src/Act10_OOP_Laboratory Exercise no. 2/nbproject/private/
/src/Laboratory Exercise no.1/nbproject/private/
/src/Act10_OOP_Laboratory Exercise no. 1/nbproject/private/
/src/Act11_OOP_Laboratory Exercise no. 1/nbproject/private/